<div class="app-toolbar">

  <mat-toolbar>
    <span>iBets</span>
    <span class="example-spacer"></span>
    <div class="nav-bar-items">

      <button mat-flat-button color="warn" *ngIf="!loggedIn()" class="nav-bar-items"
        (click)="onLoginClick()">Login</button>
      <span *ngIf="loggedIn() && userHasProfile" class="nav-bar-items">Hi {{getUsername()}} !</span>

      <button mat-flat-button color="warn" *ngIf="loggedIn()" class="nav-bar-items" (click)="onLogoutClick()">Sign
        Out</button>

    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>
