<mat-card>
  <mat-card-header>
    <mat-card-title>Create Post</mat-card-title>
  </mat-card-header>
  <div>
    <textarea #postInput placeholder="Description...(required)"></textarea>
  </div>
  <div *ngIf="selectedImageFile" id="post-preview">
    <img id="post-preview-image1" />
  </div>
  <mat-card-actions align="end">
<button mat-button color="warn">
  <label for="photo-post-upload">
    <input  #photoPostSelector (change)="onPhotoSelected(photoPostSelector)"
    id="photo-post-upload" type="file" accept="image/*"/>
    <mat-icon>insert_photo</mat-icon>
  </label>
</button>
<button mat-flat-button color="warn" (click)="onPostClick(postInput)" >Post</button>

  </mat-card-actions>
</mat-card>
